<h1>Code de vérification</h1>
<p>Bonjour {{name}},</p>
<p>Votre code de vérification est : <strong>{{otp}}</strong></p>
<p>Ce code expire dans {{ttl}} minutes.</p>
<p>Si vous n'avez pas demandé ce code, veuillez ignorer cet e-mail.</p>
<p>Merci,</p>