<mat-toolbar color="primary" class="admin-header">
  <button 
    mat-icon-button
    aria-label="Toggle sidenav"
    *ngIf="isHandset$ | async"
    (click)="toggleDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
  
  <span class="header-title">{{ title }}</span>
  
  <span class="spacer"></span>
  
  <ng-container *ngIf="(currentUser$ | async) as user">
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
      <span class="username">{{ getUserDisplayName(user) }}</span>
      <mat-icon class="user-icon">account_circle</mat-icon>
    </button>
    
    <mat-menu #userMenu="matMenu" xPosition="before">
      <div class="user-menu-header">
        <div class="user-avatar">
          <mat-icon class="avatar-icon">account_circle</mat-icon>
        </div>
        <div class="user-info">
          <div class="user-name">{{ getUserDisplayName(user) }}</div>
          <div class="user-role">{{ user.role }}</div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>